page-home {
    .content {
        background: white !important;
    }

    .error {
      color: red;
    }
    ul#userimages li {
        display:inline;
      }

    ion-header {
        img {
            max-width: 25px;
            width: 30px;
            border: 0;
        }
    }

    .top_content {
        padding: 1rem;
        font-family: initial;
        font-weight: bold;
        img{
            height: 3rem;
        }
    }

    .middle_content {
        justify-content: center;

        .middle_main_content {
            display: flex;
            align-items: center;
            border-top: 1px solid #ddd;
            margin: auto;
            padding: 1rem 0 1rem 0;

            .sub_mid1 {
                flex: 1;

                img {
                    height: 2.2rem;
                    padding-left: 1rem;
                }
            }

            .sub_mid2 {
                flex: 2;

                h5 {
                    margin: auto;
                    padding-left: 1rem;
                }
            }

            .sub_mid3 {
                flex: 2;

                .item.item-block .item-inner {
                    border-bottom: none !important;
                }

                ion-label {
                    color: black;
                    margin-right: 0px;
                    font-size: 1.2rem;
                    font-weight: 400;
                }

                ion-toggle {
                    padding-left: 1rem;
                }
            }

            .sub_mid4 {
                flex: 2;

                p {
                    color: red;
                    text-decoration: underline;
                }
            }

            .sub_mid5 {
                flex: 2;
            }
        }

    }
    .mail_info{
        display: flex;
        border-top: 1px solid #ddd;
        .mail_info_sub1{
            flex: 3;
            p{
                color: #073f99;
                text-align: center;
                font-size: 1.7rem;
            }
        }
        .mail_info_sub2{
            float: 1;
            margin: auto;
            padding-right: 1rem;
            font-size: 1.6rem;
            color: #073f99;
        }
    }
    .mail_content {
        // color: #058CC3;
        margin-left: 2rem;
        margin-right: 2rem;
        .userCont {
           

            ion-icon {
                font-size: 1.6em;
                color: #515151;
                margin-right: 1rem;
            }
        }

        ion-label {
            color: #5a5959;
        }

        .item-inner {
            height: 4rem;
            border: 1px solid #ddd !important;
            margin: 1rem 0 0 0;
            padding-left: 1rem;
            border-radius: 1rem;
            background: rgba(255, 255, 255, 0.7);
        }

        .item {
            padding: 0px;
            background: transparent;
            color: #5a5959;
        }

        button {
            font-family: "MuseoSans500";
            margin-top: 1rem;
            font-size: 1.1em;
            font-weight: bold;
            color: white;
            text-transform: none;
            font-family: inherit;
            width: 80%;
            height: 3.8rem;

            // background: rgba(255, 255, 255, 0.7);
            span {
                position: relative;
                padding-right: 0.5rem;
            }

            ion-icon {
                position: absolute;
                right: 0.5rem;
                font-size: 3rem;
            }
        }

        .mail_button {
            margin-top: 1rem;
            text-align: right;
            padding: 0 20px;

            button {
                width: 50%;
                font-family: "MuseoSans500";
                margin-top: 1rem;
                font-size: 1.2em;
                text-transform: none;

                ion-icon {
                    margin: auto 1rem auto 0rem;
                    font-size: 3rem;
                }
            }
        }
    }
    .bottom_content{
        text-align: right;
        padding-right: 1rem;
        button{
            height: 4rem;
        }
    }
    .subcontent{
        float: left; 
        padding-left: 15px
    }

    
      ol {
        padding: 0;
        list-style: none;
        display: grid; 
        grid-auto-flow: column;
        grid-gap: 1rem;
        overflow-x: auto;
       
        grid-auto-columns: 6rem;
        margin-left: -1rem;
        margin-right: -1rem;
        
        &::after {
          content: '';
          width: 1rem;
        }
      
       
        div{

      
        li {
          display: grid;
          grid-template-areas: 'image' 'title' 'summary';
          grid-gap: 1rem;
          grid-row: 1;
          margin-left: 1rem;
          
        
          
          img {
            grid-area: image;
          }
          
          
        }  }

        
      }
      .false{
          width: 0px;
          display: none
      }
      
}
.onoffswitch {
    position: relative;
    width: 55px;
    display: inline-block;
    font-size: 80%;
  }
  .onoffswitch .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 90%);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin: 0;
  }
  .onoffswitch .onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.15s ease-in-out;
    -o-transition: margin 0.15s ease-in-out;
    -moz-transition: margin 0.15s ease-in-out;
    transition: margin 0.15s ease-in-out;
  }
  .onoffswitch .onoffswitch-inner:before,
  .onoffswitch .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 80%;
    color: hsl(0, 0%, 100%);
    font-weight: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .onoffswitch .onoffswitch-inner:before {
    content: "YES";
    padding-left: 10px;
    background-color: hsl(203, 100%, 39.1569%);
    color: hsl(0, 0%, 100%);
  }
  .onoffswitch .onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 24%);
    text-align: right;
  }
  .onoffswitch .onoffswitch-switch {
    width: 22px;
    height: 22px;
    margin: 0;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 35px;
    -webkit-transition: right 0.15s ease-in-out;
    -o-transition: right 0.15s ease-in-out;
    -moz-transition: right 0.15s ease-in-out;
    transition: right 0.15s ease-in-out;
  }
  .toggle-group {
    position: relative;
    height: 27px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 50%;
    left: 20px;
    margin-top: -13.5px;
  }
  .toggle-group input[type=checkbox] {
    position: absolute;
    left: 10px;
  }
  .toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
    right: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  }
  .toggle-group input[type=checkbox]:focus ~ .onoffswitch {
    outline: thin dotted #333;
    outline: 0;
  }
  .toggle-group label {
    position: absolute;
    cursor: pointer;
    padding-left: 65px;
    display: inline-block;
    text-align: left;
    line-height: 24px;
    width: 100%;
    z-index: 1;
    height: 24px;
    font-weight: 200;
  }
  /* ==== Accessibility ===== */
  .aural {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .aural:focus {
    clip: rect(0, 0, 0, 0);
    font-size: 1em;
    height: auto;
    outline: thin dotted;
    position: static !important;
    width: auto;
    overflow: visible;
  }
  .addPropertyBtn{
    font-size: smaller; 
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .topleft {
    position: absolute;
    background: white;
    height: 1.7rem;
    bottom: 2rem;
    left: 1.5rem;
    width: 1.7rem;
   // text-align: center;
    text-anchor: middle;
    line-height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: black;
    border: 0.5px solid black;
  }
  